label,input,button {
    font-size: 17px;
}
button {
    width: 332px;
    height: 40px;
    outline: none;
    color: white;
    border: 0;
    border-radius: 10px;
    background-color: dodgerblue;
    opacity: .8;
    margin-top: 30px;
}
button:hover {
    opacity: 1;
}
input{
    width: 300px;
    height: 40px;
    border: 0;
    padding: 0 0 0 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.stu-form{
    position: absolute;
    bottom: 120px;
    width: 100%;
    text-align: center;
    /*margin: 0 auto;*/
}
.stu-form-all {
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.stu-form-all .stu-info {
    margin-bottom: 18px;
}

/* 适配PC */
@media screen and (max-width: 400px) {
    button,input,.stu-form-all {
        width: 270px;
    }
    label {
        display: none;
    }
}
@media screen and (min-width: 400px) and (max-width: 590px) {
    button,input,.stu-form-all {
        width: 320px;
    }
    label {
        display: none;
    }
}

/* 适配移动端 */
@media screen and (max-device-width: 420px) {
    button,input,.stu-form-all {
        width: 380px;
    }
    label {
        display: none;
    }
    button {
        margin-top: 45px;
        width: 390px;
    }
    button,input {
        height: 60px;
        font-size: 27px;
    }
    .stu-form {
        bottom: 340px;
    }
}
@media screen and (min-device-width: 420px) and (max-device-width: 590px) {
    input,.stu-form-all {
        width: 320px;
    }
    button {
        width: 390px;
    }
    label {
        display: none;
    }
}

#background{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
#canvas1{
    width: 100vw;
    height: 500px;
}